.hero {
  background-color: #e4f9f5;
  margin-left:0px;
  margin-right:0px;
}
.fw-bold {
  color:#66bfbf;
}
.lead {
  color:#66bfbf;
  font-weight:400;
}
.list-group-item {
  border:3px solid #66bfbf;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.skills {
  margin-bottom:0;
}
.dropdown-item {
  color:#66bfbf;
  font-weight:700;
  font-size:1.2em;
}
.inner-container {
  border:20px solid  #66bfbf;
  margin-top:50px;
  margin-bottom: 50px;
  padding:30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
footer {
  background-color: #e4f9f5;
}